.Navbarmain {
    height: 90px;
    background-color: #366641;
    display: flex;
    justify-content: space-between; /* Distribute space evenly between children */
    align-items: center; /* Center vertically */
    text-align: center; /* Align text to the center */
    padding: 0 20px; /* Add some horizontal padding for spacing */
}

@media (max-width: 768px) {
    .Navbarmain {
        flex-direction: column; /* Stack items vertically on small screens */
    }
}

.Caeffine {
    padding-left: 30rem;
    font-family: 'Santana-Black';
    color: white;
    margin: auto; /* Pushes Caeffine to the right */
}

.hamenu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menubutton {
    background-color: transparent;
    border: none;  
}
