.main
{
    
    font-family: 'Times New Roman';
}
.header
{
    margin-left: 1rem;
}

.header2
{
    font-size: 110%;
    margin-left: 1rem;
    line-height: 1rem;
}

.radio
{
    margin-left: 1rem;
    line-height: 2rem;
}

.contact
{
    font-size: medium;
    color: #000000;
    line-height: 20px;
}

.continue
{
    font-weight: 600;
    font-size: 100%;
    height: 50px;
    transition-duration: 1s;
    border: black;
    background-color:#366641;
    color: black;
    padding: 2px 40px;
    border: 2px solid #000000;
    margin-top: 2rem;
}

.review
{
    margin-left: 1rem;
    line-height: .5rem;
}

.continue1
{
    margin-left: 1rem;
    transition-duration: 1s;
    border: black;
    background-color:#366641;
    color: black;
    padding: 2px 40px;
    border: 2px solid #000000;
    margin-top: -1rem;
}

.cash
{
    background-color: #366641;
    transition-duration: 1s;
    border: black;
    color: black;
    padding: 2px 13px;
    border: 2px solid #000000;
    margin-left: 0rem;
}

.upi
{
    background-color: #366641;
        transition-duration: 1s;
        border: black;
        color: black;
        padding: 2px 13px;
        border: 2px solid #000000;
        margin-left: 3rem;
}

.myordr
{
    font-size: 120%;
    margin-left: .4rem;
}
.final
{
    margin-bottom: 2rem;
    margin-left: 2.7rem;
}
.ttl
{
    margin-left: 1rem;
}
.continue:hover{
    transition-duration: 1s;
    background-color: #5f8575;
}

.cash:hover,.upi:hover
{
    transition-duration: 1s;
    background-color: #5f8575;
}

