

.header1
{
    font-style: 'Times new roman';
    margin-left: 3.7rem;
    text-align: center;
}
.our-menu
{
    font-size: 200%;
}

.full-menu
{
    margin-left: .3rem;
    width: calc(100vw - 10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #366641;
}
.sub-our-menu
{
    font-style: italic;
    font-family: "Times New Roman";
    font-size: 110%;
}

.products-container {
    overflow-x: auto; /* Enable horizontal scrolling with a hidden scrollbar */
    overflow-y: hidden; /* Hide the vertical scrollbar */
  }
  
  .products {
    display: flex; /* Items will be displayed horizontally */
    gap: 20px; /* Adjust the gap between products */
    white-space: nowrap; /* Prevent products from wrapping */
  }